*{
    background-color: black;
    color: white;
}
body{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Langar', cursive;
    font-size: 15px;
}
.navbar li{
    display: inline-block;
    padding: 10px;
    margin-left: 17%;
}
a{
    text-decoration: none;
}
#iama{
    width: 14%;
    height: 200px;
    border-radius: 50000px;
}