*{
    background-color: black;
    color: white;
}
body{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Langar', cursive;
    font-size: 15px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-size: 20px;   
}
h1{
    position: absolute;
    font-size:59px;
    font-weight: bold;
    top: 30%;
    right: 10%;
}
.picture{
    /* border: 1px solid white; */
    position: absolute;
    top: 20%;
    left: 14%;
    width: 27%;
    height: 50%;
}
.picture #iama{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 50000px;
}
.picture:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.tagline{
    position: absolute;
    top: 75%;
    left: 19%;
}