.header{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    color: white;
    overflow-y:
}
.navbar ul{
    /* border: 1px solid white; */
    position: absolute;
    display: inline;
    margin: 0px;
    width: 100%;
    height: auto;
    background-color:black;
}
.navbar li{
    /* border: 1px solid white; */
    display: inline-block;
    padding: 10px;
    margin-inline: 90px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    font-size: 20px;   
}